{
    "extends": ["productsway"],
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "rules": {
      "@typescript-eslint/naming-convention": "off",
      "@typescript-eslint/no-unsafe-return": "warn",
      "@typescript-eslint/restrict-template-expressions": "warn",
      "capitalized-comments": "off",
      "new-cap": "off"
    }
  }